.cv {
    display: flex;
    align-items: start;
    gap: 82px;
    justify-content: space-between;
    padding: 5% 15%;
}

.cv__card {
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    opacity: 4;
    padding-top: 5%;
}

.cv__text {
    text-align: justify;
}

.cv__subtitle {
    background-color: #22d5fd8c;
    margin: 1em 0;
    text-align: center;
}

.icons {
    margin: 0.5rem;
}

.icons-cv,
.icons__link {
    color: var(--theme-color);
    margin-left: 0;
}

.menu__icons {
    margin-top: 1rem;
}

.icons__link {
    font-size: 30px;
    margin: 1rem 0.5rem 1.5rem 0;
    text-decoration: none;
} 

.experiences-list__nkey, 
.experiences-list__mastersense, 
.mastersense-level2__list, 
.mastersense-level1__list, 
.academic-education__list {
    padding: 1rem;
}

.experiences-list__nkey, 
.mastersense-level2__list, 
.mastersense-level1__list, 
.academic-education__list {
    list-style-type: "-  ";
}

.extracurricular-courses__list {
    list-style-type: disc;
}

@media (max-width: 1200px) {
    
    .cv {
        align-items: center;
        flex-direction: column-reverse;
        padding: 5%;
    }
}