@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import 'components/home.css';
@import 'components/cv.css';

:root {
    --bg-color: #000000;
    --text-color: #F6F6F6;
    --theme-color: #22D4FD;
    --button-hover-color: #272727;

    --font-title: 'Krona One', sans-serif;
    --font-text: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    box-sizing: border-box;
    color: var(--text-color);
}

ol, ul {
    margin-left: 1.5em;
}


.header {
    padding: 2% 0% 0% 15%;
}

.menu,
.portfolio,
.portfolio__info,
.portfolio__container {
    display: flex;
}

.menu {
    gap: 80px;
}

.menu__link,
.portfolio__text {
    font-family: var(--font-text);
}

.menu__link,
.portfolio__subtitle,
.portfolio__text {
    font-size: 1.5rem;
    font-weight: 400;
}

.menu__link {
    color: var(--theme-color);
    font-weight: 600;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: underline;
    opacity: .7;
}

.portfolio {
    align-items: flex-start;
    gap: 82px;
    justify-content: space-between;
    padding: 5% 15%;
}

.portfolio__container {
    justify-content: center;
    width: 50%;
}

.portfolio__info {
    flex-direction: column;
    gap: 40px;
}

.portfolio__title,
.portfolio__subtitle {
    font-family: var(--font-title);
}

.portfolio__title {
    font-size: 2.25rem;
}

.portfolio__title--highlight {
    color: var(--theme-color);
}

.portfolio__img:hover {
    opacity: 0.5;
}

.footer {
    background-color: var(--theme-color);
    color: var(--bg-color);
    padding: 24px;
    text-align: center;
}

@media (max-width: 1200px) {
    .header {
         padding: 10%;  
    }

    .menu {
        justify-content: center;
    }

    .portfolio {
        align-items: center;
        flex-direction: column-reverse;
        padding: 5%;
    }

    .portfolio__info {
        width: auto;
    }
}